<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Агрегатор интеллектуальных online-игр</title>
    <meta property="og:title" content="Агрегатор интеллектуальных онлайн-игр"/>
    <meta property="og:description" content="Агрегатор интеллектуальных онлайн-игр: все игры в одном месте."/>
    <meta property="og:image" content="https://stalnuhhin.github.io/quiz/sm.png"/>

</head>
<body>
<div id="app" class="container-fluid mb-5">

    <div class="row">
        <div class="col">
            <small class="text-muted float-right">
                <b>Все времена на сайте учитывают ваш часовой пояс.</b>
            </small>
            <br/>
            <small class="text-muted float-right">
                Сейчас: {{ moment().locale("ru").format("HH:mm, DD.MM.YYYY (dddd)") }}
            </small>
        </div>
    </div>

    <ul class="nav nav-tabs" id="main" role="tablist">
        <li class="nav-item">
            <a class="nav-link active"
               id="games-tab" data-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="true">
                Игры</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="resou-tab" data-toggle="tab" href="#resou" role="tab" aria-controls="resou" aria-selected="false">
                Ресурсы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="false">
                Новости</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">
                О страничке</a>
        </li>
    </ul>

    <div class="tab-content" id="mainContent">

        <!-- GAMES -->

        <div class="tab-pane fade show active" id="games" role="tabpanel" aria-labelledby="games-tab">
            <div class="row mt-3">
                <div class="col clearfix">
                    <div class="btn-group-toggle float-right" data-toggle="buttons">
                        <label class="btn btn-sm btn-primary {{filter.onlyFree ? 'active' : ''}}">
                            <input type="checkbox" v-model="filter.onlyFree" />
                            {{filter.onlyFree ? 'Показать все игры' : 'Показать только бесплатные'}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="container" v-for="(date, i) in activeGames.dates">
                <div class="row mt-3">
                    <h2>{{moment(date).format('D MMMM (dddd)')}}</h2>
                </div>
                <div class="row mt-3" v-for="(g, j) in activeGames.data[date]" v-if="!filter.onlyFree || g.free">
                    <div class="col-2">
                        {{ g.time ? g.time.fromNow() : '' }}
                        <br/>
                        <small class="text-muted">
                            {{ g.time ? g.time.format("HH:mm") : '' }}
                        </small>
                        <span v-if="g.time.diff(moment()) < 0" class="badge badge-danger">
                            Игра идёт
                        </span>
                        <span v-if="g.time.diff(moment()) > 0 && g.time.diff(moment(), 'minutes') < 45"
                              class="badge badge-success">
                            Игра скоро начнётся
                        </span>
                    </div>
                    <div class="col-2 col-md-1">
                        <img v-if="g.image" v-bind:src="'data/images/' + g.image"/>
                    </div>
                    <div class="col-8 col-md-9">
                        {{g.name}}
                        <span v-if="g.registration" class="badge alert-secondary">
                            Надо регистрироваться
                        </span>
                        <br/>
                        <span v-if="g.free" class="badge badge-success">
                            Бесплатно
                        </span>
                        <span v-if="g.donate" class="badge badge-success">
                            За донаты
                        </span>
                        <span v-for="p in g.price" class="badge alert-danger mr-1">
                            {{p}}
                        </span>
                        <a href="#" class="badge badge-info" data-toggle="modal"
                           v-if="g.info || g.payment"
                           v-bind:data-target="'#info' + i + '_' + j">
                            ИНФО
                        </a>
                        <span v-for="(u, i) in g.url">
                            <a v-bind:href="u" target="_blank" class="badge alert-primary mr-1">
                                cсылка{{i+1}}
                            </a>
                        </span>
                        <br/>
                        <small class="text-muted">
                            {{g.org}}
                        </small>

                        <div v-if="g.info || g.payment" class="modal fade" v-bind:id="'info' + i + '_' + j"
                             tabindex="-1" role="dialog"
                             v-bind:aria-labelledby="'#info' + i + '_' + j" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <b>Информация по игре:</b><br/>
                                        <span v-for="p in g.info">{{p}}<br/></span>
                                        <br/>
                                        <b>Информация по оплате:</b><br/>
                                        <span v-for="p in g.payment">{{p}}<br/></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- RESOURCES -->

        <div class="tab-pane fade" id="resou" role="tabpanel" aria-labelledby="resou-tab">
            <div class="container">
                <div class="row mt-3">
                    <h2>Агрегаторы</h2>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-hover table-sm">
                            <tbody>
                            <tr class="d-flex" v-for="(m, i) in rsAggr">
                                <td class="col-2"
                                    data-toggle="tooltip"
                                    data-placement="left"
                                    v-bind:title="'Последняя проверка в ' + m.latestCheck.format('HH:mm (DD.MM)')">
                                    <small v-bind:class="'text-' + (moment().diff(m.latestCheck, 'days') > 3 ? 'danger' : 'muted')">
                                        {{m.latestCheck.fromNow()}}
                                    </small>
                                </td>
                                <td class="col-10">
                                    <span data-toggle="tooltip"
                                          data-placement="bottom"
                                          v-bind:title="m.desc">
                                        {{m.org}}
                                    </span>
                                    <br/>
                                    <span v-for="(u, i) in m.url">
                                        <a v-bind:href="u" target="_blank" class="badge alert-primary mr-1">
                                            cсылка{{i+1}}
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip"
                                          data-placement="left"
                                          title="Есть игры в записи или можно играть в любое время"
                                          v-if="m.hasContent" class="badge badge-success">
                                        Любое время
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <h2>Франшизы</h2>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-hover table-sm">
                            <tbody>
                            <tr class="d-flex" v-for="(m, i) in rsMain">
                                <td class="col-2"
                                    data-toggle="tooltip"
                                    data-placement="left"
                                    v-bind:title="'Последняя проверка в ' + m.latestCheck.format('HH:mm (DD.MM)')">
                                    <small v-bind:class="'text-' + (moment().diff(m.latestCheck, 'days') > 3 ? 'danger' : 'muted')">
                                        {{m.latestCheck.fromNow()}}
                                    </small>
                                    <br/>
                                    <small class="text-muted">Игры: {{m.games ? m.games.length : 0}}</small>
                                </td>
                                <td class="col-8">
                                    <span data-toggle="tooltip"
                                          data-placement="bottom"
                                          v-bind:title="m.desc">
                                        {{m.org}}
                                    </span>
                                    <br/>
                                    <span v-for="(u, i) in m.url">
                                        <a v-bind:href="u" target="_blank" class="badge alert-primary mr-1">
                                            cсылка{{i+1}}
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip"
                                          data-placement="left"
                                          title="Есть игры в записи или можно играть в любое время"
                                          v-if="m.hasContent" class="badge badge-success">
                                        Любое время
                                    </span>
                                </td>
                                <td class="col-2">
                                    <img v-if="m.image" v-bind:src="'data/images/' + m.image"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <h2>Дополнительные</h2>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-hover table-sm">
                            <tbody>
                            <tr class="d-flex" v-for="(e, i) in rsExtra">
                                <td class="col-12">
                                    <span data-toggle="tooltip"
                                          data-placement="bottom"
                                          v-bind:title="e.desc">
                                        {{e.org}}
                                    </span>
                                    <br/>
                                    <span v-for="(u, i) in e.url">
                                        <a v-bind:href="u" target="_blank" class="badge alert-primary mr-1">
                                            cсылка{{i+1}}
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip"
                                          data-placement="right"
                                          title="Есть игры в записи или можно играть в любое время"
                                          v-if="e.hasContent" class="badge badge-success">
                                        Любое время
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- NEWS -->

        <div class="tab-pane fade" id="news" role="tabpanel" aria-labelledby="news-tab">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5 class="mt-3"><b>04.04.2020</b></h5>
                        <p>
                            Добавлен фильтр для показа только бесплатных игр.
                        </p>
                        <h5 class="mt-3"><b>03.04.2020</b></h5>
                        <p>
                            За два дня появилось так много квизов, что понадобилось придумать другую структуру данных.
                            Перелопатил все данные и разложил по полочкам. Теперь у каждой франшизы есть свой файлик с
                            данными. Также оптимизировал хранение некоторых общих данных.
                        </p>
                        <p>
                            Добавлена закладка "Новости", в которую планируется выписывать все изменения на данной
                            страничке.
                        </p>
                        <h5 class="mt-3"><b>02.04.2020</b></h5>
                        <p>
                            Добавлена страничка "Ресурсы" со списком на сканируемые и дополнительные ресурсы. Для
                            сканируемых есть также дата последней проверки ресурса на наличие новых игр.
                        </p>
                        <h5 class="mt-3"><b>01.04.2020</b></h5>
                        <p>
                            Поделился ссылкой на систему в социальной сети. Получил положительные отзывы, пять франшиз
                            связались по поводу добавления их данных в систему.
                        </p>
                        <h5 class="mt-3"><b>30.03.2020</b></h5>
                        <p>
                            Создан проект на Github. Я хотел написать небольшую удобную страничку для отслеживания
                            интеллектуальных онлайн игр. Увлёкся и начал добавлять необязательные элементы, которые
                            пригодились бы, например, пользователям в других часовых поясах.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ABOUT -->

        <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="jumbotron mt-5">
                            <h1 class="display-4">Что это?</h1>
                            <p class="lead">
                                На этой страничке представлен список интеллектуальных онлайн-игр для удобного их
                                отслеживания.
                            </p>
                            <hr class="my-4" />
                            <p>
                                Для каждой игры отмечено начало игры, название, стоимость, обязательна ли регистрация и
                                некоторая информация по игре (кнопка "ИНФО"). Также даны ссылки на то, где начать игру
                                или регистрацию. Обратите внимание, что там, где важна регистрация, обычно надо
                                регистрироваться заранее, и, возможно, количество мест ограничено.
                            </p>
                            <p>
                                На закладке "Ресурсы" собраны различные ресурсы, которые сканятся на наличие игр. Там же
                                есть и ссылки на каналы и сайты, где как таковых игр в реальном времени нет, но есть
                                вопросы, которые можно поиграть в любое время (к таким ссылкам относятся и ссылки на
                                различные интеллектуальные видеопередачи).
                            </p>
                            <p>
                                На страничке есть тексты, скопированные с квизов или добавленные самим квизом. Эти
                                тексты не отражают мнение автора этой странички. Кроме того на странице могут быть
                                ошибки, так как все данные вводятся не ручками, и изменения на страничке квиза не
                                появятся здесь автоматически.
                            </p>
                            <p>
                                Автор странички вручную вносит игры в <a href="https://github.com/stalnuhhin/quiz">Github</a>.
                                Если вы знаете о других интересных квизах и играх, то либо напишите мне на <b>anton.stalnuhhin
                                [at] gmail.com</b>, либо <a href="https://anton.stalnuhhin.ee/cv" target="_blank">свяжитесь
                                другим способом</a>, либо сами <a
                                    href="https://github.com/stalnuhhin/quiz/tree/master/data">добавляйте в
                                репозиторий</a> в json формате и делайте merge request.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30793561-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-30793561-3');
</script>

</body>
</html>