<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Агрегатор интеллектуальных online-игр</title>
    <meta property="og:title" content="Агрегатор интеллектуальных онлайн-игр"/>
    <meta property="og:description" content="Агрегатор интеллектуальных онлайн-игр: все игры в одном месте."/>
    <meta property="og:image" content="https://stalnuhhin.github.io/quiz/sm.png"/>

</head>
<body>
<div id="app" class="container-fluid mb-5">

    <div class="alert alert-light" role="alert">
        Ваше время: {{ now.locale("ru").format("HH:mm, DD.MM.YYYY (dddd)") }}
    </div>

    <ul class="nav nav-tabs" id="main" role="tablist">
        <li class="nav-item">
            <a class="nav-link active"
               id="games-tab" data-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="true">
                Игры</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="ressu-tab" data-toggle="tab" href="#ressu" role="tab" aria-controls="ressu" aria-selected="false">
                Ресурсы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">
                О страничке</a>
        </li>
    </ul>

    <div class="tab-content" id="mainContent">
        <div class="tab-pane fade show active" id="games" role="tabpanel" aria-labelledby="games-tab">
            <div class="container" v-for="(date, i) in games.dates">
                <div class="row mt-3">
                    <h2>{{moment(date).format('D MMMM (dddd)')}}</h2>
                </div>
                <div class="row mt-3" v-for="(g, j) in games.data[date]">
                    <div class="col-2">
                        {{ g.time ? g.time.fromNow() : '' }}<br/>
                        <small class="text-muted">{{ g.time ? g.time.format("HH:mm") : '' }}</small>
                        <span v-if="g.time.diff(now) < 0" class="badge badge-danger">Игра идёт</span>
                        <span v-if="g.time.diff(now) > 0 && g.time.diff(now, 'minutes') < 45"
                              class="badge badge-success">Игра скоро начнётся</span>
                    </div>
                    <div class="col-2 col-md-1">
                        <img v-if="g.image" v-bind:src="'data/images/' + g.image"/>
                    </div>
                    <div class="col-8 col-md-9">
                        {{g.name}}
                        <br/>
                        <a href="#" class="badge badge-info" data-toggle="modal"
                           v-bind:data-target="'#info' + i + '_' + j">ИНФО</a>
                        <span v-if="!g.price" class="badge badge-secondary">Условно бесплатно (см. ИНФО)</span>
                        <span v-if="g.price" class="badge badge-danger">{{g.price + " " + g.currency}} / {{g.pricetype === "person" ? "человек" : "команда"}}</span>
                        <span v-if="g.registration" class="badge badge-danger">Есть регистрация</span>
                        <span v-for="(u, i) in g.url"><a v-bind:href="u" target="_blank"
                                                         class="badge badge-primary mr-1">cсылка{{i+1}}</a></span>
                        <br/>
                        <small class="text-muted">{{g.org}}</small>

                        <div class="modal fade" v-bind:id="'info' + i + '_' + j" tabindex="-1" role="dialog"
                             v-bind:aria-labelledby="'#info' + i + '_' + j" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <b>Информация по игре:</b><br/>
                                        <span v-for="p in g.info">{{p}}<br/></span>
                                        <br/>
                                        <b>Информация по оплате:</b><br/>
                                        <span v-for="p in g.payment">{{p}}<br/></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="ressu" role="tabpanel" aria-labelledby="ressu-tab">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>В процессе доработки</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="jumbotron mt-5">
                            <h1 class="display-4">Что это?</h1>
                            <p class="lead">
                                На этой страничке представлен список интеллектуальных онлайн-игр для удобного их
                                отслеживания.
                            </p>
                            <hr class="my-4">
                            <p>
                                Для каждой игры отмечено начало игры, название, стоимость, обязательна ли регистрация и
                                некоторая информация по игре (кнопка "ИНФО"). Также даны ссылки на то, где начать игру
                                или регистрацию. Обратите внимание, что там, где важна регистрация, обычно надо
                                регистрироваться заранее, и, возможно, количество мест ограничено.
                            </p>
                            <p>
                                На закладке "Ресурсы" собраны различные ресурсы, которые сканятся на наличие игр. Там же
                                есть и ссылки на каналы и сайты, где как таковых игр в реальном времени нет, но есть
                                вопросы, которые можно поиграть в любое время (к таким ссылкам относятся и ссылки на
                                различные интеллектуальные видеопередачи).
                            </p>
                            <p>
                                На страничке есть тексты, скопированные с квизов или добавленные самим квизом. Эти
                                тексты не отражают мнение автора этой странички. Кроме того на странице могут быть
                                ошибки, так как все данные вводятся не ручками, и изменения на страничке квиза не
                                появятся здесь автоматически.
                            </p>
                            <p>
                                Автор странички вручную вносит игры в <a href="https://github.com/stalnuhhin/quiz">Github</a>.
                                Если вы знаете о других интересных квизах и играх, то либо напишите мне на <b>anton.stalnuhhin
                                [at] gmail.com</b>, либо <a href="https://anton.stalnuhhin.ee/cv" target="_blank">свяжитесь
                                другим способом</a>, либо сами <a
                                    href="https://github.com/stalnuhhin/quiz/tree/master/data">добавляйте в
                                репозиторий</a> в json формате и делайте merge request.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="main.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30793561-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-30793561-3');
</script>

</body>
</html>