<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>QUIZA: Агрегатор интеллектуальных online-игр</title>
    <meta property="og:title" content="QUIZA: Агрегатор интеллектуальных онлайн-игр"/>
    <meta property="og:description" content="Агрегатор интеллектуальных онлайн-игр: все игры в одном месте."/>
    <meta property="og:image" content="https://quiza.stalnuhhin.ee/preview.png"/>
    <meta name="keywords"
          content="онлайн квиз, онлайн квизы, виртуальный квиз, виртуальные квизы, онлайн викторина, онлайн викторины,
          виртуальный викторина, виртуальные викторины, интеллектуальные игры онлайн, чгк онлайн, онлайн чгк, онлайн,
          квиз, квизы, викторина, викторины, поломать мозг, поиграть и подумать, разгадывать загадки, угадывать ответы,
          угадывать кадры из фильмов, угадывать песни, пабквиз онлайн, пабквизы онлайн, агрегатор квизов, агрегатор
    пабквизов, агрегатор викторин, играть квиз онлайн бесплатно, играть викторину онлайн бесплатно"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" class="container-fluid mb-5" v-cloak>

    <div class="row pt-2 pb-2">
        <div class="col">
            <a href="https://quiza.stalnuhhin.ee"><img src="title.png"/></a>
            <a class="ml-5 btn btn-primary" href="chgkplan" role="button">
                Открыть планировщик ЧГК игр.
            </a>
            <small class="text-muted float-right">
                <b>Все времена на сайте учитывают ваш часовой пояс.</b>
                <br/>
                Сейчас: {{ moment().locale("ru").format("HH:mm, DD.MM.YYYY (dddd)") }}
            </small>
        </div>
    </div>

    <ul class="nav nav-tabs" id="main" role="tablist">
        <li class="nav-item">
            <a class="nav-link active"
               id="games-tab" data-toggle="tab" href="#games" role="tab" aria-controls="games" aria-selected="true">
                Игры ({{gameCount}})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="frans-tab" data-toggle="tab" href="#frans" role="tab" aria-controls="frans" aria-selected="false">
                Франшизы ({{rsMain.length}})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="frans-closed-tab" data-toggle="tab" href="#frans-closed" role="tab" aria-controls="frans-closed" aria-selected="false">
                Франшизы без онлайна ({{rsMainClosed.length}})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="resou-tab" data-toggle="tab" href="#resou" role="tab" aria-controls="resou" aria-selected="false">
                Ещё ресурсы ({{rsAggr.length + rsExtra.length}})</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="news-tab" data-toggle="tab" href="#news" role="tab" aria-controls="news" aria-selected="false">
                Новости</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="false">
                О страничке</a>
        </li>
    </ul>

    <div class="tab-content" id="mainContent">

        <!-- GAMES -->

        <div class="tab-pane fade show active" id="games" role="tabpanel" aria-labelledby="games-tab">
            <div class="container">
                <div class="row mt-3">
                    <div class="col clearfix">
                        <div class="btn-group float-right" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-sm"
                                    v-bind:class="[!filter.mode ? 'btn-success' : 'btn-secondary']"
                                    v-on:click="filter.mode = undefined">
                                Все
                            </button>
                            <button type="button" class="btn btn-sm"
                                    v-bind:class="[filter.mode === 'free' ? 'btn-success' : 'btn-secondary']"
                                    v-on:click="filter.mode = 'free'">
                                Бесплатные
                            </button>
                            <button type="button" class="btn btn-sm"
                                    v-bind:class="[filter.mode === 'chgk' ? 'btn-success' : 'btn-secondary']"
                                    v-on:click="filter.mode = 'chgk'">
                                ЧГК
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" v-for="(date, i) in activeGames.dates">
                <div class="row mt-5">
                    <div class="col-12 bg-dark">
                        <h2 class="text-light mb-0 pb-0">{{moment(date).format('D MMMM, dddd')}}</h2>
                        <small class="text-warning">Количество незавершенных игр: {{activeGames.data[date].length}}</small>
                    </div>
                </div>
                <div class="row mb-4" v-for="(g, j) in activeGames.data[date]"
                     v-if="!filter.mode || (filter.mode === 'free' && g.free) || (filter.mode === 'chgk' && g.chgk)">
                    <div v-if="isNewTime(g.time)" class="col-12 mb-3 border-bottom">
                        <span class="pr-4" style="position: absolute; bottom: -20px; width: 100%; text-align: right;">
                            <small class="text-muted">
                                {{ g.time ? g.time.fromNow() : '' }}
                            </small>
                        </span>
                        <span class="float-right">
                            <span v-if="g.time.diff(moment()) < 0"
                                  class="mr-1 badge badge-danger">Игры уже начались</span>
                            <span v-if="g.time.diff(moment()) > 0 && g.time.diff(moment(), 'minutes') < 45"
                                  class="mr-1 badge badge-success">Игры скоро начнутся</span>
                            <small>
                                <b>{{ g.time ? g.time.format("HH:mm") : '' }}</b>
                            </small>
                        </span>
                    </div>
                    <div class="col-2 col-md-1">
                        <span v-if="g.time.diff(moment()) < 0"
                              style="position: absolute; left: -5px; color: #dc3545; font-size: 30px;">•</span>
                        <span v-if="g.time.diff(moment()) > 0 && g.time.diff(moment(), 'minutes') < 45"
                              style="position: absolute; left: -5px; color: #28a745; font-size: 30px;">•</span>
                        <img width="50px" class="pt-2" v-if="g.image" v-bind:src="'data/images/' + g.image"/>
                    </div>
                    <div class="col-10 col-md-11" style="line-height: 1.3">

                        <!-- row 1 -->
                        <b>{{g.name}}</b>
                        <br/>

                        <!-- row 2 -->
                        <small><a href="#" data-toggle="modal" v-if="g.info || g.payment"
                                  style="border-bottom: 1px dashed"
                                  v-bind:data-target="'#info' + i + '_' + j">Узнать больше</a></small>
                        <span v-if="g.chgk" class="badge badge-warning">ЧГК</span>
                        <span v-if="g.free" class="badge alert-success">Бесплатно</span>
                        <span v-if="g.donate" class="badge alert-success">За донаты</span>
                        <span v-if="g.lang" class="badge alert-warning">{{g.lang}}</span>
                        <span v-if="g.noregistration" class="badge alert-secondary">Нет регистрации</span>
                        <small v-for="(p,i) in g.price">
                            <span class="text-nowrap">{{p}}</span><span
                                v-if="i != Object.keys(g.price).length - 1"> | </span>
                        </small>
                        <br/>

                        <!-- row 3 -->
                        <small class="text-muted">
                            {{g.org}} | {{ g.time ? g.time.format("HH:mm (D MMMM)") : '' }} | <span
                                v-for="(u,i) in g.url">
                            <a v-bind:href="u" target="_blank" class="mr-1" v-bind:class="{'font-weight-bold': i == 0}">
                                {{getUrlName(u)}}</a><span v-if="i != Object.keys(g.url).length - 1">| </span>
                            </span>
                        </small>
                        <br/>

                        <!-- modal -->
                        <div v-if="g.info || g.payment" class="modal fade" v-bind:id="'info' + i + '_' + j"
                             tabindex="-1" role="dialog"
                             v-bind:aria-labelledby="'#info' + i + '_' + j" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <span v-if="g.info">
                                            <b>Информация по игре:</b><br/>
                                            <span v-for="p in g.info">{{p}}<br/></span>
                                            <br/>
                                        </span>
                                        <span v-if="g.payment">
                                            <b>Информация по оплате:</b><br/>
                                            <span v-for="p in g.payment">{{p}}<br/></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- RESOURCES -->

        <div class="tab-pane fade" id="frans-closed" role="tabpanel" aria-labelledby="frans-closed-tab">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-12">
                        <h2>Франшизы без онлайна</h2>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <p class="text-muted">Здесь франшизы, которые уже на долгое время остановили онлайн-игры.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-hover table-sm">
                            <tbody>
                            <tr class="d-flex" v-for="(m, i) in rsMainClosed">
                                <td class="col-2">
                                    <img width="50px" v-if="m.image" v-bind:src="'data/images/' + m.image"/>
                                </td>
                                <td class="col-8">
                                    <span data-toggle="tooltip"
                                          data-placement="bottom"
                                          v-bind:title="m.desc">
                                        {{m.org}}
                                    </span>
                                    <span v-for="u in m.url">
                                        <a v-bind:href="u" target="_blank" class="badge alert-primary mr-1">
                                            {{getUrlName(u)}}
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip"
                                          data-placement="left"
                                          title="Есть игры в записи или можно играть в любое время"
                                          v-if="m.hasContent" class="badge badge-success">
                                        Любое время
                                    </span>
                                    <br/>
                                    <small v-bind:class="'text-' + (moment().diff(m.latestCheck, 'days') > 14 ? 'danger' : 'muted')">
                                        Проверка: {{m.latestCheck.fromNow()}}
                                    </small>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- RESOURCES -->

        <div class="tab-pane fade" id="frans" role="tabpanel" aria-labelledby="frans-tab">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-7">
                        <h2>Франшизы</h2>
                    </div>

                    <div class="col-5">
                        <div class="float-right">
                            <small>Сортировка:</small>
                            <span type="button" class="badge badge-secondary" v-on:click="sort('name')">А-Я</span>
                            <span type="button" class="badge badge-secondary" v-on:click="sort('game')">Игра</span>
                            <span type="button" class="badge badge-secondary" v-on:click="sort('check')">Проверка</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-hover table-sm">
                            <tbody>
                            <tr class="d-flex" v-for="(m, i) in rsMain">
                                <td class="col-2">
                                    <img width="50px" v-if="m.image" v-bind:src="'data/images/' + m.image"/>
                                </td>
                                <td class="col-8">
                                    <span data-toggle="tooltip"
                                          data-placement="bottom"
                                          v-bind:title="m.desc">
                                        {{m.org}}
                                    </span>
                                    <span v-for="u in m.url">
                                        <a v-bind:href="u" target="_blank" class="badge alert-primary mr-1">
                                            {{getUrlName(u)}}
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip"
                                          data-placement="left"
                                          title="Есть игры в записи или можно играть в любое время"
                                          v-if="m.hasContent" class="badge badge-success">
                                        Любое время
                                    </span>
                                    <br/>
                                    <small v-bind:class="'text-' + (moment().diff(m.latestCheck, 'days') > 3 ? 'danger' : 'muted')">
                                        Проверка: {{m.latestCheck.fromNow()}}
                                    </small>
                                </td>
                                <td class="col-2">
                                    <small v-bind:class="'text-' + (moment().diff(m.latestGameTime, 'days') > 1 ? 'danger' : 'muted')">
                                        {{m.latestGameTime ? m.latestGameTime.fromNow() : '-'}}
                                    </small>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- RESOURCES -->

        <div class="tab-pane fade" id="resou" role="tabpanel" aria-labelledby="resou-tab">
            <div class="container">
                <div class="row mt-3">
                    <div class="col">
                        <h2>Где ещё поиграть?</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-hover table-sm">
                            <tbody>
                            <tr class="d-flex" v-for="(e, i) in rsExtra">
                                <td class="col-12">
                                    <span data-toggle="tooltip"
                                          data-placement="bottom"
                                          v-bind:title="e.desc">
                                        {{e.org}}
                                    </span>
                                    <br/>
                                    <span v-for="u in e.url">
                                        <a v-bind:href="u" target="_blank" class="badge alert-primary mr-1">
                                            {{getUrlName(u)}}
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip"
                                          data-placement="right"
                                          title="Есть игры в записи или можно играть в любое время"
                                          v-if="e.hasContent" class="badge badge-success">
                                        Любое время
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h2>Агрегаторы</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-hover table-sm">
                            <tbody>
                            <tr class="d-flex" v-for="(m, i) in rsAggr">
                                <td class="col">
                                    <span data-toggle="tooltip"
                                          data-placement="bottom"
                                          v-bind:title="m.desc">
                                        {{m.org}}
                                    </span>
                                    <span v-for="u in m.url">
                                        <a v-bind:href="u" target="_blank" class="badge alert-primary mr-1">
                                            {{getUrlName(u)}}
                                        </a>
                                    </span>
                                    <span data-toggle="tooltip"
                                          data-placement="left"
                                          title="Есть игры в записи или можно играть в любое время"
                                          v-if="m.hasContent" class="badge badge-success">
                                        Есть в записи
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- NEWS -->

        <div class="tab-pane fade" id="news" role="tabpanel" aria-labelledby="news-tab">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5 class="mt-3"><b>22.04.2021</b></h5>
                        <p>
                            На сайт добавлен <a href="chgkplan">планировщик ЧГК игр</a> на основе данных рейтинга ЧГК.
                        </p>
                        <h5 class="mt-3"><b>20.09.2020</b></h5>
                        <p>
                            Табами отделены разные ресурсы: дополнительные отдельно, франшизы, которые перестали
                            выпускать онлайн-игры, активные франшизы.
                        </p>
                        <h5 class="mt-3"><b>12.05.2020</b></h5>
                        <p>
                            Обновлён дизайн списка - убрал пестроту и сблизил строки. Добавлен подсчёт игр за каждый
                            день (серым под датой). И добавлен общий подсчёт активных игр и ресурсов в названия табов.
                        </p>
                        <h5 class="mt-3"><b>09.05.2020</b></h5>
                        <p>
                            Обновлён дизайн списка. Время вынесено в заголовок группы квизов с одним и тем же временем.
                            Из каждой строки время перенесено в менее заметное место, но на всякий случай дублирует
                            подзаголовок.
                        </p>
                        <h5 class="mt-3"><b>03.05.2020</b></h5>
                        <p>
                            Последние 3 недели идёт разработка по переносу всех данных из репозитория в базу данных, и
                            вместе с этим какой-то веб-интерфейс для удобного добавления данных через форму. К
                            сожалению, это не сделать достаточно быстро. Работаю.
                        </p>
                        <p>
                            При этом растёт количество данных, поэтому начал архивировать их по месяцам. Старые игры за
                            март и апрель теперь не подгружаются каждый раз с активными. Они заархивированы на всякий
                            случай и удалены из активных подгрузок.
                        </p>
                        <p>
                            Также подгрузка данных из нескольких десятков файлов сделана в этапы по группам. Не всё
                            разом, а по 20-30 за раз. Это немного снимает разовую нагрузку. С базой данных эта проблема
                            совсем исчезнет.
                        </p>
                        <h5 class="mt-3"><b>11.04.2020</b></h5>
                        <p>
                            Убрана плашка "Есть регистрация" - в большинстве случаев она нужна, поэтому теперь наобот.
                            Если ничего нет, то регистрация есть или неизвестно, и вдобавок есть плашка "Нет
                            регистрации".
                        </p>
                        <p>
                            Для ссылок сделаны нормальные тексты. Теперь лучше видно, куда перенаправит ссылка.
                        </p>
                        <h5 class="mt-3"><b>07.04.2020</b></h5>
                        <p>
                            Случились первые проблемы с Github Pages (я не ожидал их так рано), поэтому страница была
                            срочно перенесена на <a href="https://quiza.stalnuhhin.ee">quiza.stalnuhhin.ee</a>. В связи
                            с этим заодно сменил репозиторий с github.com/stalnuhhin/quiz на
                            github.com/stalnuhhin/quiza.
                            В старый репозиторий добавил страничку с информацией о переезде.
                        </p>
                        <h5 class="mt-3"><b>06.04.2020</b></h5>
                        <p>
                            Добавлена разная сортировка в список франшиз, и по умолчанию выставлено "по алфавиту". Также
                            подправлена сортировка в других списках.
                        </p>
                        <h5 class="mt-3"><b>05.04.2020</b></h5>
                        <p>
                            Добавлен фильтр для показа игр в формате "Что? Где? Когда?" (ЧГК).
                        </p>
                        <p>
                            Кроме Google Analytics добавлен ещё один счётчик (открытый всем) в самый низ странички. Оба
                            счётчика могут быть заблокированы плагинами браузеров, так что показывают в некоторой
                            степени заниженные данные.
                        </p>
                        <p>
                            В ресурсах сделаны небольшие изменения - теперь там нет дубликатов в данных. Заодно решено
                            сделать отслеживание по дате крайней игры в базе, а не по дате проверки - чтобы не терять
                            время на те франшизы, которые сильно заранее добавляют расписание игр (за что им спасибо).
                        </p>
                        <p>
                            Обновлен отдел "О страничке".
                        </p>
                        <h5 class="mt-3"><b>04.04.2020</b></h5>
                        <p>
                            Добавлен фильтр для показа только бесплатных игр.
                        </p>
                        <h5 class="mt-3"><b>03.04.2020</b></h5>
                        <p>
                            За два дня появилось так много квизов, что понадобилось придумать другую структуру данных.
                            Перелопатил все данные и разложил по полочкам. Теперь у каждой франшизы есть свой файлик с
                            данными. Также оптимизировал хранение некоторых общих данных.
                        </p>
                        <p>
                            Добавлена закладка "Новости", в которую планируется выписывать все изменения на данной
                            страничке.
                        </p>
                        <h5 class="mt-3"><b>02.04.2020</b></h5>
                        <p>
                            Добавлена страничка "Ресурсы" со списком на сканируемые и дополнительные ресурсы. Для
                            сканируемых есть также дата последней проверки ресурса на наличие новых игр.
                        </p>
                        <h5 class="mt-3"><b>01.04.2020</b></h5>
                        <p>
                            Поделился ссылкой на систему в социальной сети. Получил положительные отзывы, пять франшиз
                            связались по поводу добавления их данных в систему.
                        </p>
                        <h5 class="mt-3"><b>30.03.2020</b></h5>
                        <p>
                            Создан проект на Github. Я хотел написать небольшую удобную страничку для отслеживания
                            интеллектуальных онлайн игр. Увлёкся и начал добавлять необязательные элементы, которые
                            пригодились бы, например, пользователям в других часовых поясах.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ABOUT -->

        <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="jumbotron mt-5">
                            <h1 class="display-4">Что это?</h1>
                            <p class="lead">
                                На этой страничке представлен список интеллектуальных онлайн-игр для удобного их
                                отслеживания с учётом вашего часового пояса.
                            </p>
                            <hr class="my-4"/>
                            <p>
                                <b>Игры.</b> Для каждой игры отмечено начало игры, название, стоимость, обязательность
                                регистрации и дополнительная информация по игре (кнопка "ИНФО"). Также даны ссылки на
                                ресурс, где стоит узнать о игре больше. NB! На играх с регистрацией стоит
                                регистрироваться заранее, потому что количество мест может быть ограничено.
                            </p>
                            <p>
                                <b>Ресурсы.</b> Здесь собраны различные ресурсы, которые сканятся на наличие игр. Там же
                                есть ссылки и на каналы и сайты, где как таковых игр в реальном времени нет, но есть
                                вопросы, которые можно поиграть в любое время (к таким ссылкам относятся и ссылки на
                                различные интеллектуальные видеопередачи).
                            </p>
                            <p>
                                <b>Об "ошибках".</b> На страничке есть тексты, скопированные с квизов или добавленные
                                самим квизом. Эти тексты не отражают мнение автора этой странички. Кроме того на
                                странице могут быть ошибки, так как все данные вводятся вручную, и изменения в
                                первоисточнике квиза не появятся здесь автоматически (перепроверяйте информацию,
                                заходя по ссылке).
                            </p>
                            <p>
                                <b>Об обновлениях.</b> Автор странички вручную вносит игры в
                                <a href="https://github.com/stalnuhhin/quiza">проект Github</a>. Если вы знаете о других
                                интересных квизах и играх, то воспользуйтесь одним из вариантов:
                            </p>
                            <ul>
                                <li>Напишите мне на <b>anton.stalnuhhin [at] gmail.com</b></li>
                                <li>Свяжитесь со мной <a href="https://anton.stalnuhhin.ee/cv" target="_blank">
                                    другим удобным способом</a></li>
                                <li>Сами добавьте нужные данные в <a
                                        href="https://github.com/stalnuhhin/quiza/tree/master/data">репозиторий</a> в
                                    формате JSON и сделайте merge request (для этого вам нужен кто-то с техническим
                                    бэкграундом).
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="row">
        <div class="col">
            <div class="float-right">
                <script type="text/javascript" id="clustrmaps"
                        src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=200&t=m&d=x_2GErbTXEgfa6-bcya7Z-oBpzPyxVgorr11_xyHpPs&co=2d78ad&ct=ffffff&cmo=3acc3a&cmn=ff5353"></script>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script>
    document.write("<script src=\"main.js?" + new Date().getTime() + "\"><\/script>");
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-30793561-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-30793561-3');
</script>

</body>
</html>
